<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu card</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Work+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

</head>

<body>
    <header>
        <nav class="navbar navbar-light navbar-expand  mt-3" style="background-color:#20202fb4;">
            <div class="container-fluid">
                <i style="font-size: 24px; "class="fa">#90EE90;</i>
                <a class="navbar-brand mx-auto" href="#">
                    <img src="{% static 'imgs/14852523_5528439.jpg' %}" width="60" height="60" alt=" " />
                </a>
            </div>
            <div class="navbar-nav justify-content-center">
                <a class="nav-link text-light" href="#home">home</a>
                <a class="nav-link text-light" href="#speciality" id="a">speciality</a>
                <a class="nav-link text-light" href="#popular">popular</a>
                <a class="nav-link text-light" href="#gallery">gallery</a>
                <a class="nav-link text-light" href="#review">review</a>
                <a class="nav-link text-light" href="#order">order</a><br>
                 <button type="button" class="btn btn-light ml-2">ADD NEW </button>
            </div>
            <div class="w-100"></div>
        
            </div>
            </div>
        </nav>

    </header>
    <h2 >OUR SPECALITIY</h2>
        <div class="speciality" id="speciality">
            <div class="col d-flex justify-content-center">
            <div class="card-columns  ">
                <div class="row">
                    <div class="card card-gap col-4">
                        <img class="card-img-top" src="{% static 'imgs/food.jpg' %}" alt="Card image cap" id="myimg" >
                        <span class="badge " id="bg1">Bestseller</span>
                        <div class="card-body">
                            <h5 class="card-title" id="hea1">Pizza</h5><span class="badge bg-secondary" id="bd1">$15</span>
                            <p class="card-text"  id="tex" >Some quick example text to build on the card title and make up the bulk of the
                                card's
                                content.</p>
                                <div class="btn-group">
                                    <button onclick="edit()" class="btn btn-primary btn-gap">Edit</button>
                                    <button class="btn btn-primary btn-gap">Save</button>
                                </div>
                            
                        </div>
                    </div>
                    <div class="card card-gap col-4">
                        <img class="card-img-top" src="{% static 'imgs/food.jpg' %}" id="myimg1"  alt="Card image cap">
                        <span class="badge " class="badge1" id="bg2">Bestseller</span>
                        <div class="card-body">
                            <h5 class="card-title" id="hea2">Burger</h5><span class="badge bg-secondary" id="bd2">$15</span>
                            <p class="card-text" id="tex1">Some quick example text to build on the card title and make up the bulk of the
                                card's
                                content.</p>
                            <div class="btn-group">
                                <button onclick="edit1()" class="btn btn-primary btn-gap">Edit</button>
                                <button class="btn btn-primary btn-gap">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="card card-gap col-4">
                        <img class="card-img-top" id="myimg2" src="{% static 'imgs/food.jpg' %}"  alt="Card image cap">
                        <span class="badge " class="badge1" id="bg3">Bestseller</span>
                        <div class="card-body">
                            <h5 class="card-title" id="hea3">Dessert</h5> <span class="badge bg-secondary" id="bd3">$15</span>
                            <p class="card-text" id="tex2">Some quick example text to build on the card title and make up the bulk of the
                                card's
                                content.</p>
                            <div class="btn-group">
                                <button onclick="edit2()" class="btn btn-primary btn-gap">edit</button>
                                <button class="btn btn-primary btn-gap">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
        
            <div class="row">
                <div class="card card-gap col-4">
                    <img class="card-img-top" id="myimg3" src="{% static 'imgs/food.jpg' %}" alt="Card image cap">
                    <span class="badge " class="badge1" id="bg4">Bestseller</span>
                    <div class="card-body">
                        <h5 class="card-title" id="hea4">Chinese</h5><span class="badge bg-secondary" id="bd4">$15</span>
                        <p class="card-text" id="tex3">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <div class="btn-group">
                            <button onclick="edit3()" class="btn btn-primary">Edit</button>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                <div class="card card-gap col-4">
                    <img class="card-img-top" id="myimg4" src="{% static 'imgs/food.jpg' %}"alt="Card image cap">
                    <span class="badge " class="badge1" id="bg5">Bestseller</span>
                    <div class="card-body">
                        <h5 class="card-title" id="hea5">Italian</h5><span class="badge bg-secondary" id="bd5">$15</span>
                        <p class="card-text" id="tex4">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <div class="btn-group">
                            <button onclick="edit4()" class="btn btn-primary">Edit</button>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                <div class="card card-gap col-4">
                    <img class="card-img-top" id="myimg5" src="{% static 'imgs/food.jpg' %}"  alt="Card image cap">
                    <span class="badge " class="badge1" id="bg6">Bestseller</span>
                    <div class="card-body">
                        <h5 class="card-title" id="hea6">Indian</h5><span class="badge bg-secondary" id="bd6">$15</span>
                        <p class="card-text" id="tex5">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <div class="btn-group">
                            <button onclick="edit5()" class="btn btn-primary">Edit</button>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>