{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu card</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Work+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/card_page.css' %}"> 

</head>

<body>
    <h2 >OUR SPECALITIY</h2>
        <div class="speciality" id="speciality">
            <div class="col d-flex justify-content-center">
            <div class="card-columns  ">

                <div class="row">
                    {% for i in food_details %}
                    {% if i|get_item:"is_available"  %}
                    <div class="card card-gap col-4">
                        {{ i|get_item:"image_link"}}
                        {% if i|get_item:"is_bestseller"  %}
                        <span class="badge " id="bg1">Bestseller</span>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title" id="hea1">{{ i|get_item:"Food_Name" }}</h5><span class="badge bg-secondary" id="bd1">₹{{ i|get_item:"Price" }}</span>
                            <p class="card-text"  id="tex" >{{ i|get_item:"Short_Description" }}</p>
                                <div class="btn-group">
                                    <button onclick="edit()" class="btn btn-primary btn-gap">Edit</button>
                                    <button class="btn btn-primary btn-gap">Save</button>
                                </div>
                            
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>
            </div>
            </div>
        </div>
        </section>

    <script src="{% static 'js/car_page.js' %}"></script>
</body>
</html>