{% load static %}
<!-- TODO ADD EDITED DELETED RESPONSE WHEN DONE-->
<!-- TODO RETURN TO MENU CARD AFTER EDITING -->
<!DOCTYPE html>
<html>
  <head>
    <title>Food Editing</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/add_edit.css' %}">
  </head>

  <body>
    <div class="form-container">
      <div class="testbox">
        <form  action="/edit/" method="post">
          {% csrf_token %}
          <div class="banner">
            <h1>Food Edit</h1>
          </div>
          <div class="item">
            <p>Name</p>
            <div class="name-item input-area">
              <input type="text" name="FoodName" value="{{ Food_Name }}" />
            </div>
          </div>
          <div class="item">
              <p>Short Description</p>
              <div class="input-area">
                <input type="text" name="ShortDescription" value="{{ Short_Description }}">
              </div>
            </div>
            {% if is_veg %}
          <div class="question">
            <p>Is Vegetarian?</p>
            <div class="question-answer">
              <input type="radio" value="1" id="radio_1" name="isvegetarian" checked/>
              <label for="radio_1" class="radio"><span>Yes</span></label>
              <input type="radio" value="0" id="radio_2" name="isvegetarian" />
              <label for="radio_2" class="radio"><span>No</span></label>
            </div>
          </div>
          {% else %}
          <div class="question">
            <p>Is Vegetarian?</p>
            <div class="question-answer">
              <input type="radio" value="1" id="radio_1" name="isvegetarian" />
              <label for="radio_1" class="radio"><span>Yes</span></label>
              <input type="radio" value="0" id="radio_2" name="isvegetarian" checked/>
              <label for="radio_2" class="radio"><span>No</span></label>
            </div>
          </div>
          {% endif %}
          
          {% if is_bestseller %}
          <div class="question">
            <p>Is Best-Seller?</p>
            <div class="question-answer">
              <input type="radio" value="1" id="radio_3" name="isbestseller" checked/>
              <label for="radio_3" class="radio"><span>Yes</span></label>
              <input type="radio" value="0" id="radio_4" name="isbestseller" />
              <label for="radio_4" class="radio"><span>No</span></label>
            </div>
          </div>
          {% else %}
          <div class="question">
            <p>Is Best-Seller?</p>
            <div class="question-answer">
              <input type="radio" value="1" id="radio_3" name="isbestseller"/>
              <label for="radio_3" class="radio"><span>Yes</span></label>
              <input type="radio" value="0" id="radio_4" name="isbestseller" checked/>
              <label for="radio_4" class="radio"><span>No</span></label>
            </div>
          </div>
          {% endif %}
          {% if is_available %}
          <div class="question"> 
            <p>Is Available?</p>
            <div class="question-answer">
              <input type="radio" value="1" id="Yes" name="isavailable" checked/>
              <label for="Yes" class="radio"><span>Yes</span></label>
              <input type="radio" value="0" id="No" name="isavailable" />
              <label for="No" class="radio"><span>No</span></label>
            </div>
          </div>
          {% else %}
          <div class="question"> 
            <p>Is Available?</p>
            <div class="question-answer">
              <input type="radio" value="1" id="Yes" name="isavailable"/>
              <label for="Yes" class="radio"><span>Yes</span></label>
              <input type="radio" value="0" id="No" name="isavailable" checked/>
              <label for="No" class="radio"><span>No</span></label>
            </div>
          </div>
          {% endif %}
          <div class="item">
            <p>Price</p>
            <input  type="number" step="1.0" name="price" value="{{ Price }}"/>
          </div>
          <div class="item">
            <p>Category </p>
            <select class="category" name="category">
              <option value="Starters">Starters</option>
              <option value="Soups">Soups</option>
              <option value="Salads">Salads</option>
              <option value="Main Course" selected>Main Course</option>
              <option value="Sides">Sides</option>
              <option value="Beverages">Beverages</option>
              <option value="Desserts">Desserts</option>
            </select>
            </div>
            <div class="item">
              <p>Food URL</p>
              <div class="name-item input-area">
                <input type="hidden" name="FoodId" value="{{ id }}" />  
                <input type="text" name="food_link" value="{{ image_link }}" />
              </div>
            </div>
          </div>
              
      
        
      </div>
      <div class="btn-block">
        <button type="submit" style="margin-right: 20px;" name="Save">Save</button>
        <button type="submit" style="margin-right: 20px;" name="Delete">Delete</button>
      </div>
    </div>
  </form>
      </body>
</html>

